    <section class="recomended-sec">
        <div class="container">
            <div class="title">
                <img src="{{ url_for('static', filename = 'images/slide4.jpg') }}" alt="slide1">
            </div>
        </div>
    </section>
    <section class="about-sec">
        <div class="about-img">
            <figure style="background-image: url('../static/images/about-img.jpg');"></figure>
        </div>
        <div class="about-content">
            <h2>GIỚI THIỆU NHÀ SÁCH</h2>
            <p>Chào mừng bạn đến với Nhà Sách LT! Nhà Sách LT chuyên cung cấp các loại sách khác nhau, đa dạng mẫu mã, giá cả phải chăng.</p>
            <p>Định hướng của chúng tôi sẽ tích lũy thật nhiều kinh nghiệm để nâng cao chất lượng phục vụ.</p>
            <p>Nhà Sách LT được thành lập bởi 1 nhóm sinh viên OU để với mục đích phục vụ đồ án môn học.
                Đây là một nhà sách demo nên các đơn hàng sẽ không có hiệu lực.
            </p>
            <div class="btn-sec">
                <a href="{{ url_for('danhsach_Sach') }}" class="btn yellow">TRA CỨU</a>
                <a href="{{ url_for('dangKyKhachHang') }}" class="btn black">ĐĂNG KÝ</a>
            </div>
        </div>
    </section>
    <section class="recent-book-sec">
        <div class="container">
            <div class="tittle">
                <h2 class="text-info">Đối Tác Của Chúng Tôi</h2>
            </div>
            <div class="title">
                <img src="{{ url_for('static', filename = 'images/fahasa2.jpg') }}" alt="slide1">
            </div>
            {% if current_user.is_authenticated %}
                <div class="btn-sec">
                    <a href="{{ url_for('danhsach_Sach') }}" class="btn gray-btn">Xem Và Tìm Hiểu Sách Của Chúng Tôi</a>
                </div>
            {% endif %}
        </div>
    </section>
