<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body style="background-image: url('../static/images/product2.jpg');">
    <div class="container">
        <h1 class="text-center text-danger">{{ book.TuaSach }}</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename=book.HinhAnh) }}" />
            </div>
            <div class="col-md-6">
                <h3>
                    <ul>
                        <li>{{ book.MoTaSach }}</li>
                        <li>Năm Xuất Bản: {{ book.NamXuatBan }}</li>
                        <li>Giá Tiền: {{ "{:,.1f}".format(book.GiaBia) }} VNĐ</li>

                    </ul>
                    <div class="row">
                        <div class="btn btn-danger col-md-2" >
                            <a href="javascript:;"
                               onclick="addToCart({{ book.MaSach }}, '{{book.TuaSach}}', {{ book.GiaBia }})"><h5>MUA</h5></a>
                        </div>
                        <div class="col-md-6">
                            <a class="badge badge-primary" href=" {{ url_for('payment') }} " id="cart-info"></a>
                        </div>
                    </div>
                </h3>
            </div>
        </div>
        </div>
</body>
</html>