<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tìm Kiếm Sách</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body style="background-image: url('../static/images/wave.png');">
    <div class="container">
        <h1 class="text-center text-danger">
            <a href="{{ url_for('trangChu') }}"><i class="fa fa-home"></i></a>
            DANH MỤC SÁCH
            <a class="badge badge-primary" href=" {{ url_for('chuyenSang_thanhToan') }} " id="thongTinGioHang">
                  <i class="fa fa-shopping-cart"></i></a>
        </h1>
        <div>
            <form>
                <div class="form-group">
                    <input class="form-control"
                           name="ten_sach"
                           placeholder="Nhập tên sách..." />
                </div>
                <div class="form-group">
                    <input class="form-control"
                           name="tac_gia"
                           placeholder="Nhập tên tác giả..." />
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="number"
                               name="gia_batDau"
                               class="form-control"
                               placeholder="Nhập giá bắt đầu..." />
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="number"
                               name="gia_ketThuc"
                               class="form-control"
                               placeholder="Nhập giá kết thúc..." />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
                </div>
            </form>
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th><h5 class="text-center">Mã Sách</h5></th>
                <th><h5 class="text-center">Tên</h5></th>
                <th><h5 class="text-center">Giá</h5></th>
                <th></th>
            </tr>
            {% for p in sach %}
            <tr>
                <td class="text-center">
                    <a href="{{ url_for('chitiet_Sach', ma_sach=p.MaSach) }}">
                        <img width="120" src="{{ url_for('static', filename=p.HinhAnh) }}" alt="{{ p.TuaSach }}" />
                    </a>
                </td>
                <td class="text-center"> <h5>{{ p.MaSach }}</h5> </td>
                <td class="text-center">
                    <h5 class="text-dark">{{ p.TuaSach }}</h5>
                </td>
                <td class="text-center"> <h5>{{ "{:,.0f}".format(p.GiaBia) }} VNĐ</h5></td>
                <td class="text-center">
                    <a href="javascript:;"
                       onclick="themVaoGioHang({{ p.MaSach }}, '{{p.TuaSach}}', {{ p.GiaBia }})"><h5>Mua</h5></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>