<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address">
                        <h4>Địa Chỉ:</h4>
                        <h6>371 Nguyễn Kiệm, Phường 3, Quận Gò Vấp, Thành Phố Hồ Chí Minh</h6>
                        <h6>Điện Thoại : 123 456 789</h6>
                        <h6>Email : longtho@bookstore.com</h6>
                    </div>
                    <div class="timing">
                        <h4>Giờ Mở Cửa</h4>
                        <h6>Thứ Bảy - Thứ Bảy: 7:00 - 21:00</h6>
                        <h6>Chủ Nhật: 8:00 - 19:00</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Lựa chọn</h4>
                        <ul>
                            <li><a href="{{ url_for('trangChu') }}">Trang Chủ</a></li>
                            <li><a href="{{ url_for('gioiThieu') }}">Giới Thiệu</a></li>
                            <li><a href="{{ url_for('danhsach_Sach') }}">Tra cứu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form">
                        <h3>Liên hệ với chúng tôi</h3>
                        <h6>Chúng tôi hiện tại đang bán rất nhiều loại sách. Hãy ghé
                                trang web của chúng tôi và mua nhé!</h6>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <input placeholder="Tên" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Nội dung"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn black">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4>(C) Liên hệ với chúng tôi</h4>
                    </div>
                    <div class="col-md-5">
                        <div class="share align-middle">
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/Nh%C3%A0-S%C3%A1ch-LT-104001228731320" class="fb" rel="noopener noreferrer">
                                    <i class="fa fa-facebook-official"></i></a>
                                <a target="_blank" href="https://www.instagram.com/nhasach_lt/" class="instagram" rel="noopener noreferrer ">
                                    <i class="fa fa-instagram"></i></a>
                                <a target="_blank" href="https://twitter.com/home?logout=1633838301456" class="twitter" rel="noopener noreferrer">
                                    <i class="fa fa-twitter"></i></a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>