<section class="slider">
        <div class="container">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="slide">
                        <img src="{{ url_for('static', filename = 'images/slide1.png') }}" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>Chào mừng đến với nhà sách</h3>
                                <h5>Hãy cùng khám phá trang web bán sách với chúng tôi!</h5>
                                {% if current_user.is_authenticated %}
                                    <a href=" {{ url_for('danhsach_Sach') }}" class="btn">Trang Web</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide">
                        <img src="{{ url_for('static', filename = 'images/slide2.jpg') }}" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>Chào mừng đến với nhà sách</h3>
                                <h5>Cùng khám phá trang web bán sách với chúng tôi!</h5>
                                {% if current_user.is_authenticated %}
                                    <a href=" {{ url_for('danhsach_Sach') }}" class="btn">Trang Web</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide">
                        <img src="{{ url_for('static', filename = 'images/slide3.jpg') }}" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>Chào mừng đến với nhà sách</h3>
                                <h5>Cùng khám phá trang web bán sách với chúng tôi!</h5>
                                {% if current_user.is_authenticated %}
                                    <a href=" {{ url_for('danhsach_Sach') }}" class="btn">Trang Web</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide">
                        <img src="{{ url_for('static', filename = 'images/slide4.jpg') }}" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>Chào mừng đến với nhà sách</h3>
                                <h5>Cùng khám phá trang web bán sách với chúng tôi!</h5>
                                {% if current_user.is_authenticated %}
                                    <a href=" {{ url_for('danhsach_Sach') }}" class="btn">Trang Web</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>